<div fxLayout="column" fxLayoutAlign="start" fxFlex="100" style = '  background: #F5F6FA;' >
        <mat-tab-group mat-align-tabs="center" style = 'padding : 30px '> 
            <mat-tab label="Person" routerLinkActive #rla="routerLinkActive"
            > 
                <app-person></app-person>
              </mat-tab>
            <mat-tab label="Channel">  <app-channel></app-channel></mat-tab>
            <mat-tab label="My FIles(Shared)">  <app-myfiles></app-myfiles></mat-tab>
          </mat-tab-group>
        
        </div>

        