div {
  table {
  width: 100% !important;
}
}
table {
  width: 100% !important;
}
.mat-tab-header  {
  padding: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}


mat-tab{
  background: white;
  color: blue;
}

.mat-tab-label-active {
  background: white;
  color: blue;
}

#rla {
  background: white;
  color: blue;
}