:host {

    .folded:not(.unfolded) & {

        .nav-link {

            > .nav-link-title,
            > .nav-link-badge {
                opacity: 0;
                transition: opacity 200ms ease;
            }
        }
    }
}

.activeClass{
    color :  #4D7CFE !important ; 
    width: 100%;
    background-color : #ECF1FE ; 
    
 
}

.nav-link {
    width: 100%;
}