<div style = 'width : 100%'>
  
    <div fxLayout="column"  >
    
    <div fxLayout="row" fxLayout = 'center' fxFlex="100" style = 'padding-top: 50px;padding-bottom: 15px;'  >
     <h4> Basic Details  </h4>   
    </div>
    <div fxLayout="row" fxFlex style = 'padding-left: 15px;' >
         <mat-card>
            <mat-card-content >	
              <div fxLayout="row" >
                    <div fxLayout="column" fxLayout = 'center' fxFlexOffset="45"   fxFlex="20" >
                            <img src="../../../../assets/images/avatars/Abbott.jpg" class="avatar" style = 'width: 109px; height: 106px;' />
    
                    </div>
            </div> 
    
              
          
    
            <form action='' >
                <div fxLayout="row" style = 'margin-top: 40px' >
              <div fxLayout="column" fxLayout = 'center' fxFlex="30" style = 'margin-top: 18px' >
                  Name
              </div>
              <div fxLayout="column" fxLayout = 'center' fxFlex="70">
                  <input type="text" class = 'form-control' id="fname" name="firstname" >
              </div>
              </div>
    
              <div fxLayout="row"  >
                  <div fxLayout="column" fxLayout = 'center' fxFlex="30" style = 'margin-top: 18px' >
                      Department
                  </div>
                  <div fxLayout="column" fxLayout = 'center' fxFlex="70">
                      <input type="text"  class = 'form-control' id="fname" name="firstname" >
                  </div>
                  </div>
    
                  <div fxLayout="row"  >
                      <div fxLayout="column" fxLayout = 'center' fxFlex="30" style = 'margin-top: 18px' >
                          Timezone
                      </div>
                      <div fxLayout="column" fxLayout = 'center' fxFlex="70">
    
                      <select class="form-control" id="exampleFormControlSelect1">
                          <option>1</option>
                          <option>2</option>
                          <option>3</option>
                          <option>4</option>
                          <option>5</option>
                        </select>
                      </div>
    
                      </div>
                
    
                      <div fxLayout="row"  >
                          <div fxLayout="column" fxLayout = 'center' fxFlex="30" style = 'margin-top: 30px' >
                              Availability Schedule
                          </div>
                          <div fxLayout="column" fxLayout = 'center' fxFlex="70" style = 'margin-top: 2px'>
                          <mat-radio-group aria-label="Select an option">
                              <div style = 'display: flex ; margin-top : 25px'>
    
                              <mat-radio-button value="All Work Days">All Work Days</mat-radio-button>
                              <mat-radio-button value="All Days">All Days</mat-radio-button>
                              <mat-radio-button value="Custom"> Custom</mat-radio-button>
                            </div>
    
                            </mat-radio-group>
                          </div>
                        </div>
    
             
            
                          <div fxLayout="column"  >
                              <div fxLayout="row" fxFlex = "100"  style = 'margin-top: 30px'  >
                            Notes(Personal Notes)
                            
                            </div>
                            <div fxLayout="row" fxFlex = "100" style = 'margin-top: 20px' >
                                <div class="form-group">
                                    <textarea class="form-control rounded-0" id="exampleFormControlTextarea2" placeholder="Type your Personal Notes" rows="5"></textarea>
                                  </div>                            
                                </div>
                            </div>
             
                            <div fxLayout="column"  >
                                <div fxLayout="row" fxFlex = "100"  style = 'margin-top: 30px'  >
                                  Subscribed Channels
                              </div>
                                      <div fxLayout="row" style = 'margin-top: 30px' >
                                        <div fxLayout = 'column' fxFlex= '6'> 
                                            <img src="../../../../assets/images/logos/bblu.png" class="avatar" style = '    position: relative;
                                            top: -10px;' />

                                          </div>
                                        <div fxLayout = 'column' fxFlex= '15'> 
                                      Channel Name 
                                      </div>
                                      <div fxLayout = 'column' fxFlex= '6'> 
                                          <i class="fa fa-envelope-o"  style = 'font-size: 23px;' aria-hidden="true"></i>
                                        </div>
                                      </div>
                                      <div fxLayout="row"  >
                                          <div fxLayout = 'column' fxFlex= '6'> 
                                              <img src="../../../../assets/images/logos/bblu.png" class="avatar" style = '    position: relative;
                                              top: -10px;' />                                       
                                                </div>
                                          <div fxLayout = 'column' fxFlex= '15'> 
                                        Channel Name 
                                        </div>
                                        <div fxLayout = 'column' fxFlex= '6'> 
                                            <i class="fa fa-envelope" style = 'font-size: 23px;' aria-hidden="true"></i>
                                          </div>
                                        </div>
                                  
                              </div>
                            
      
              
              </form>
            </mat-card-content>	
         </mat-card>
      </div>
      </div>
    </div>
    